$cor1: #1e1e1e;
$cor1b: #121212a1;

$cor2: #00d4ff;
$cor2b: rgba(0, 212, 255, 0.7);

$cor3: #e83e8c;
$cor3b: rgba(232, 62, 140, 0.7);

$cor4: rgba(142, 2, 225);
$cor4b: rgba(142, 2, 225, 0.7);

$cor5: #ffffff;
$cor6: #e0e0e0;

$cor7: #bbfa0e;

$gradiente1: linear-gradient(135deg, $cor2b, $cor3b);
$gradiente2: linear-gradient(135deg, $cor3b, $cor4b);

$font1: 'Orbitron', sans-serif;
$font2: 'Space Grotesk', sans-serif;