@use '../../abstract/index' as *;

@forward 'home';
@forward 'artistas';
@forward 'programacao';
@forward 'inscricao';
@forward 'contato';

section {
    &:not(:first-of-type) {
        height: 100vh;
        padding: 40px;
        color: $cor5;
        position: relative;
        overflow: hidden;
        scroll-snap-align: center;
    }

    main {
    padding: 40px;
    color: $cor5;
    position: relative;
    overflow: hidden;
    }

    h2 {
        font-size: 3rem;
        color: $cor3;
        font-family: $font1;
        text-shadow: 0 0 15px rgba(232, 62, 140, 0.8);
        margin-bottom: 20px;
    }

    p {
        font-size: 1.3rem;
        margin-bottom: 30px;
    }

    &:nth-child(even) {
        @include selectionColor($cor2, $cor1);
        background: $cor1b;
    }

    &:nth-child(odd) {
        @include selectionColor($cor3, $cor2);
        background: $cor4b;
    }

    &:nth-child(odd)::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url('../../../img/metallic-holographic-background.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        z-index: -4;
    }

    &:nth-child(even)::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-image: url('../../../img/21846586_6527739.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        z-index: -4;
    }
}
