@use '../../abstract/index' as *;

#inscricao {
    .container {
        @include container();

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            border: 1px solid $cor5;
            border-radius: 30px;
            height: 60vh;

            label {
                font-size: 16px;
                margin-bottom: 10px;
            }

            input {
                padding: 10px;
                margin-bottom: 20px;
                border: none;
                border-radius: 30px;
                outline: none;
                background-color: $cor6;
                color: $cor1;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    border: 5px solid $cor3b;
                }

                &:focus {
                    border: 5px solid $cor3;
                }
            }

            input, button {
                width: 40%;
            }
        }
    }
}